:root {
  /* Font sizes  from https://utopia.fyi/type/calculator/?c=320,21,1.2,1300,24,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l*/
  --step--2: clamp(0.64rem, 0.66rem + -0.11vw, 0.58rem);
  --step--1: clamp(0.8rem, 0.77rem + 0.15vw, 0.88rem);
  --step-0: clamp(1rem, 0.88rem + 0.61vw, 1.31rem);
  --step-1: clamp(1.25rem, 0.97rem + 1.4vw, 1.97rem);
  --step-2: clamp(1.56rem, 1.02rem + 2.71vw, 2.95rem);
  --step-3: clamp(1.95rem, 0.99rem + 4.83vw, 4.43rem);
  --step-4: clamp(2.44rem, 0.8rem + 8.2vw, 6.64rem);
  --step-5: clamp(3.05rem, 0.35rem + 13.49vw, 9.97rem);
}
.s--2 {
  font-size: var(--step--2);
}
.s--1 {
  font-size: var(--step--1);
  line-height: 150%;
}
.s-0 {
  line-height: 150%;
  font-size: var(--step-0);
}
.s-1 {
  font-size: var(--step-1);
}
.s-2 {
  font-size: var(--step-2);
}
.s-3 {
  font-size: var(--step-3);
}
.s-4 {
  font-size: var(--step-4);
}
.s-5 {
  font-size: var(--step-5);
}

main, .max-width {
  max-width: var(--max-width);
  margin-inline: auto;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  border-bottom: thick solid transparent;
}

a.active {
  border-bottom-color: currentColor;
}

a:hover {
  opacity: 0.8;
  border-bottom-color: currentColor;
}

.text-center {
  text-align: center;
}